<!DOCTYPE html>
<!-- Written by Ylfingr on 2021-07-23 -->
<html>
	<head>
		<meta charset="utf8" />
		<title>CW Test</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="main">
			{{nav.html}}
			<article>
				<section id="title">
					<h1>A Test of CWs</h1>
					<hr>
					<h3>CW message</h3>
					<a class="buttonlink cw-button" href="cw-test.html?showmore=1">Show More</a>
				</section>
				<section id="body">
					<cw-body>
						<p>Content.</p>
					</cw-body>
				</section>
			</article>
		</div>
		<script src="cw.js"></script>
	</body>
</html>
