<!DOCTYPE html>
<!-- Written by Ylfingr on 2021-07-23 -->
<html>
	<head>
		<meta charset="utf8" />
		<title>CW Test</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="main">
			{{nav.html}}
			<article>
				<section id="title">
					<h1>Ylfingr's blog</h1>
					<hr>
				</section>
				<section id="body">
					<ul>
						<li><a href="/cw-test.html">CW Test</a></li>
					</ul>
				</section>
			</article>
		</div>
		<script src="cw.js"></script>
	</body>
</html>
