* {
	box-sizing: border-box;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section {
	width: 100%;
	/* font-family: serif; */
}
section#title {
	font-family: sans-serif;
}
section:not(#title) {
	max-width: 600px;
}

:root {
	--bg: #f0e0c0;
	--bg-dark: #d0c0a0;
	--fg: #302010;
	--bg-button: #d0c0a0;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #303034;
		--bg-dark: #101014;
		/* --fg: #e0e0e0; */
		--fg: #f0c080;
		--bg-button: #404048;
	}
	a:not(.buttonlink) {
		color: #80a0e0;
	}
	a:not(.buttonlink):visited {
		color: #a080e0;
	}
}

body {
	color: var(--fg);
	background-color: var(--bg-dark);
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main {
	box-sizing: border-box;
	background-color: var(--bg);
	width: 100%;
	max-width: 800px;
	min-height: 100vh;
	
	margin: 0;
	padding: 1ex;
	box-shadow: 0 0 64px #00000040;
}
main {
	max-width: 100%;
	padding: 1ex;
}

nav {
	font-family: serif;
	font-style: italic;
}
nav a:not(.buttonlink) {
	margin-right: 12pt;
}

#title {
	text-align: center;
}
hr {
	color: var(--fg);
	size: 1px;
}

h1 {
	font-size: xx-large;
}
h3 {
	margin: 16pt;
}

.buttonlink {
	color: var(--fg);
	background-color: var(--bg-button);
	/* make it look like a button */
	text-decoration: none;
	padding: 4px 16px;
	border-radius: 4px;
}
.buttonlink:hover {
	filter: brightness(90%);
}
.buttonlink:active {
	filter: brightness(80%);
}
@media (prefers-color-scheme: dark) {
	.buttonlink:hover {
		filter: brightness(110%);
	}
	.buttonlink:active {
		filter: brightness(120%);
	}
}
.cw {
	max-width: 400px;
	display: inline-block;
	/* text-align: center; */
}

.attribution {
	font-size: smaller;
	font-style: italic;
	display: block;
	text-align: left;
}

pre {
	max-width: calc(100vw - 16px); /* 2x padding */
	/* white-space: pre-wrap; */
	overflow-x: auto;
	background-color: var(--bg-dark);
	padding: 8px;
	border-radius: 4px;
	box-shadow: inset 2px 2px 8px #00000020;
}
.preview-frame {
	border: 1px solid var(--fg);
	padding: 8px;
}
figcaption {
	font-size: smaller;
	font-style: italic;
	margin-top: 2pt;
}

.footnotes {
	margin-top: 24pt;
	font-size: smaller;
}
